<!DOCTYPE html>
<!--[if lte IE 6]>            <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IEMobile 7]>          <html class="no-js iem7" lang="en"> <![endif]-->
<!--[if (IE 7)&(!IEMobile)]>  <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>                <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>CONFIG_STYLEGUIDE_TITLE Living Style Guide</title>

  <meta name="description" content="">
  <meta name="generator" content="kss-node">
  <meta name="viewport" content="width=device-width">

  <!-- Tipue -->
  <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">-->
  <link href="public/bower_components/Tipue-drop/tipuedrop/tipuedrop.css" rel="stylesheet">

  <link rel="stylesheet" href="public/kss.css">

  <!-- jQuery UI drag and drop -->
  <link rel="stylesheet" href="public/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet">

  {{{styles}}}

  <style>
    /* Only show enabled mobile designs at the mobile breakpoint */
    @media screen and (min-width: CONFIG_DESIGN_BREAKPOINT_END_MOBILE) {
      .kss-ct-design_mobile[data-toggle-show="true"][data-toggle-show_design_at_breakpoint="true"] > div {
        display: none;
      }
    }
    /* Only show enabled tablet designs at the tablet breakpoint */
    @media screen and (min-width: CONFIG_DESIGN_BREAKPOINT_END_TABLET) {
      .kss-ct-design_tablet[data-toggle-show="true"][data-toggle-show_design_at_breakpoint="true"] > div {
        display: none;
      }
    }
    /* Only show enabled desktop designs at the desktop breakpoint */
    @media screen and (min-width: 0px) {
      .kss-ct-design_desktop[data-toggle-show="true"][data-toggle-show_design_at_breakpoint="true"] > div {
        display: none;
      }
    }
    @media screen and (min-width: CONFIG_DESIGN_BREAKPOINT_END_TABLET) {
      .kss-ct-design_desktop[data-toggle-show="true"][data-toggle-show_design_at_breakpoint="true"] > div {
        display: block;
      }
    }
  </style>
</head>
<body id="kss-node">

    <div class="polyfill">
      <div class="polyfill--contents">
        <!-- placeholder -->
      </div>
    </div>

<div class="kss-sidebar kss-style">
  <header class="kss-header">
    <h1 class="kss-doc-title">CONFIG_STYLEGUIDE_TITLE<br>Style Guide</h1>
  </header>
  <!-- Tipue -->
  <div id="tipue_drop_content"></div>
  <!-- /Tipue -->
  <nav class="kss-nav">
    <fieldset id="kss-nav-tools">
      <legend class="kss-hidden">Navigation options</legend>
    </fieldset>
    <ul class="kss-nav__menu">
      <li class="kss-nav__menu-item kss-nav__menu-item_l1">
        <a href="index.html">
          <span class="kss-nav__name">Overview</span>
        </a>
      </li>
    {{#eachRoot}}
      <li class="kss-nav__menu-item kss-nav__menu-item_l1">
        <a href="section-{{referenceURI}}.html">
          <span class="kss-nav__name">{{header}}</span>
        </a>
      {{#ifReference ../rootName}}
        <ul class="kss-nav__menu-child">
        {{#eachSection reference}}
          {{#ifDepth 2}}
            <li class="kss-nav__menu-item kss-nav__menu-item_l2" data-submenu-parent>
              <a href="section-{{../../referenceURI}}.html#kssref-{{toAnchor referenceURI}}">
                <span class="kss-nav__name">{{header}}</span>
                {{#if ct-deprecated}}<strong class="kss-deprecated">Deprecated</strong>{{/if}}
              </a>
            </li>
          {{/ifDepth}}
          {{#ifDepth 3}}
           <li class="kss-nav__menu-item kss-nav__menu-item_l3" data-submenu>
             <a href="section-{{../../referenceURI}}.html#kssref-{{toAnchor referenceURI}}">
               <span class="kss-nav__name">{{header}}</span>
               {{#if ct-deprecated}}<strong class="kss-deprecated">Deprecated</strong>{{/if}}
             </a>
           </li>
          {{/ifDepth}}
          {{#ifDepth 4}}
           <li class="kss-nav__menu-item kss-nav__menu-item_l4" data-submenu-grandchild>
             <a href="section-{{../../referenceURI}}.html#kssref-{{toAnchor referenceURI}}">
               <span class="kss-nav__name">{{header}}</span>
               {{#if ct-deprecated}}<strong class="kss-deprecated">Deprecated</strong>{{/if}}
             </a>
           </li>
          {{/ifDepth}}
        {{/eachSection}}
        </ul>
      {{/ifReference}}
      </li>
    {{/eachRoot}}
    </ul>
  </nav>
</div>
<article role="main" class="kss-main">
{{#if homepage}}
  <div id="kssref-0" class="kss-section kss-section--depth-0 kss-overview kss-style">
    {{{homepage}}}
  </div>
{{else}}

  {{!
    Display each section, in order.

    The "root" element comes first in this loop, and can be detected using
    the "#ifDepth 1" block as seen below.
  }}

{{! Generate a data array containing all sections in this page of the styleguide }}
{{! This is consumed by the Tipue Drop search autocomplete, via grunt-exporter and grunt-merge-json }}
<script data-grunt-exporter>
{{#eachSection rootName}}
{{#ifDepth 1}}
/*
<!--(start-json-export CONFIG_TEMP_DIRECTORY/tipue_drop_data/section-{{toRootReference reference}}.json)-->
{
  "pages" : [
    {
  {{else}}
    },
    {
  {{/ifDepth}}
      "title": "{{header}}",
      "thumb": "public/ct-pixel.png",
      {{! no amount of ../ gives us the parent header so we'll show the shortened page URL instead}}
      "text": "{{toRootReference reference}}",
      "tags": "{{#if ct-tags}}{{ct-tags}}{{/if}}",
      "loc": "section-{{toRootReference reference}}.html#kssref-{{toAnchor referenceURI}}"
  {{/eachSection}}
  {{! ifDepth last}}
    }
  ]
}
<!--(end-json-export)-->
*/
{{! /ifDepth last}}
</script>
<script data-grunt-exporter>
/*
{{#eachSection rootName}}
{{#if ct-design-desktop-crop}}
<!--(start-json-export CONFIG_TEMP_DIRECTORY/styleguide_crops/{{toAnchor referenceURI}}__desktop.json)-->
{
  "design": "{{{ct-design-desktop}}}",
  "crop": "{{{ct-design-desktop-crop}}}"
}
<!--(end-json-export)-->
{{/if}}
{{#if ct-design-tablet-crop}}
<!--(start-json-export CONFIG_TEMP_DIRECTORY/styleguide_crops/{{toAnchor referenceURI}}__tablet.json)-->
{
  "design": "{{{ct-design-tablet}}}",
  "crop": "{{{ct-design-tablet-crop}}}"
}
<!--(end-json-export)-->
{{/if}}
{{#if ct-design-mobile-crop}}
<!--(start-json-export CONFIG_TEMP_DIRECTORY/styleguide_crops/{{toAnchor referenceURI}}__mobile.json)-->
{
  "design": "{{{ct-design-mobile}}}",
  "crop": "{{{ct-design-mobile-crop}}}"
}
<!--(end-json-export)-->
{{/if}}
{{#if ct-wireframe-crop}}
<!--(start-json-export CONFIG_TEMP_DIRECTORY/styleguide_crops/{{toAnchor referenceURI}}__wireframe.json)-->
{
  "design": "{{{ct-wireframe}}}",
  "crop": "{{{ct-wireframe-crop}}}"
}
<!--(end-json-export)-->
{{/if}}
{{/eachSection}}
*/
</script>
{{! End data array}}

  {{#eachSection rootName}}
    {{#ifDepth 1}}
      <div     id="kssref-{{toAnchor referenceURI}}" class="kss-section kss-section--depth-{{depth}}">
    {{else}}
      <section id="kssref-{{toAnchor referenceURI}}" class="kss-section kss-section--depth-{{depth}}">
    {{/ifDepth}}

    <div class="kss-style">
      <h{{depth}} class="kss-title kss-title--level-{{depth}}"{{#if ct-tags}} data-tags="{{ct-tags}}"{{/if}}>
        <a class="kss-title__permalink" href="#kssref-{{toAnchor referenceURI}}">
          {{#if ct-deprecated}}<span class="kss-title__ref"><strong class="kss-deprecated">Deprecated</strong></span>{{/if}}
          {{header}}
          <span class="kss-title__permalink-hash">#</span>
        </a>
      </h{{depth}}>
    {{#if parameters}}
      <ul class="kss-parameters">
      {{#eachParameter}}
        <li class="kss-parameters__item">
          <code class="kss-parameters__name">{{name}}</code>
          <div class="kss-parameters__description">{{{description}}}</div>
        </li>
      {{/eachParameter}}
      </ul>
    {{/if}}

    {{#if description}}
      <div class="kss-description">
        {{{description}}}
      </div>
    {{/if}}
    </div>
    {{#if markup}}
      <div class="kss-modifier__wrapper{{#if ct-layout}} ct-kss-{{ct-layout}}{{/if}}">
        <!-- start wireframe -->
        {{#if ct-wireframe}}
        <div class="kss-ct-wireframe">
          <div class="kss-modifier__heading kss-style kss-modifier__heading_wireframe">
            <span>
              Wireframe
              <a href="CONFIG_IMAGE_DIRECTORY_STYLEGUIDE_RELATIVE/{{{ct-wireframe}}}" title="Show full design in a new window/tab" target="_blank" data-crop-context="ct_crop_context__{{{toAnchor ct-wireframe}}}_{{{toAnchor ct-wireframe-crop}}}" class="kss-markup-link">{{{ct-wireframe}}}</a>
            </span>
          </div>
          {{#if ct-wireframe-notes}}
          <div class="kss-modifier__example ct-kss-notes">
            <strong>Note:</strong> {{{ct-wireframe-notes}}}
          </div>
          {{/if}}
          <div class="kss-modifier__ct-kss-design">
            <div class="kss-modifier__ct-kss-design_crop">
              <img src="CONFIG_IMAGE_DIRECTORY_STYLEGUIDE_RELATIVE/{{{ct-wireframe}}}.crop@{{{ct-wireframe-crop}}}.{{{getFileExtension ct-wireframe}}}" alt=""{{#if ct-design-center}} class="ct-kss-design_center"{{/if}} />
            </div>
          </div>
        </div>
        {{/if}}
        <!-- end wireframe -->
        <!-- start design -->
        <!-- start design/desktop -->
        {{#if ct-design-desktop}}
        <div class="kss-ct-design_desktop">
          <div class="kss-modifier__heading kss-style kss-modifier__heading_design">
            <span>
              Design / Desktop
              <a href="CONFIG_IMAGE_DIRECTORY_STYLEGUIDE_RELATIVE/{{{ct-design-desktop}}}" title="Show full design in a new window/tab" target="_blank" data-crop-context="ct_crop_context__{{{toAnchor ct-design-desktop}}}_{{{toAnchor ct-design-desktop-crop}}}" class="kss-markup-link">{{{ct-design-desktop}}}</a>
            </span>
          </div>
          {{#if ct-design-desktop-notes}}
          <div class="kss-modifier__example ct-kss-notes">
            <strong>Note:</strong> {{{ct-design-desktop-notes}}}
          </div>
          {{/if}}
          <div class="kss-modifier__ct-kss-design">
            <div class="kss-modifier__ct-kss-design_crop" draggable="true">
              <img src="CONFIG_IMAGE_DIRECTORY_STYLEGUIDE_RELATIVE/{{{ct-design-desktop}}}.crop@{{{ct-design-desktop-crop}}}.{{{getFileExtension ct-design-desktop}}}" alt=""{{#if ct-design-center}} class="ct-kss-design_center"{{/if}} />
            </div>
          </div>
        </div>
        {{/if}}
        <!-- end design/desktop -->
        <!-- start design/tablet -->
        {{#if ct-design-tablet}}
        <div class="kss-ct-design_tablet">
          <div class="kss-modifier__heading kss-style kss-modifier__heading_design">
            <span>
              Design / Tablet
              <a href="CONFIG_IMAGE_DIRECTORY_STYLEGUIDE_RELATIVE/{{{ct-design-tablet}}}" title="Show full design in a new window/tab" target="_blank" data-crop-context="ct_crop_context__{{{toAnchor ct-design-tablet}}}_{{{toAnchor ct-design-tablet-crop}}}" class="kss-markup-link">{{{ct-design-tablet}}}</a>
            </span>
          </div>
          {{#if ct-design-tablet-notes}}
          <div class="kss-modifier__example ct-kss-notes">
            <strong>Note:</strong> {{{ct-design-tablet-notes}}}
          </div>
          {{/if}}
          <div class="kss-modifier__ct-kss-design">
            <div class="kss-modifier__ct-kss-design_crop" draggable="true">
              <img src="CONFIG_IMAGE_DIRECTORY_STYLEGUIDE_RELATIVE/{{{ct-design-tablet}}}.crop@{{{ct-design-tablet-crop}}}.{{{getFileExtension ct-design-tablet}}}" alt=""{{#if ct-design-center}} class="ct-kss-design_center"{{/if}} />
            </div>
          </div>
        </div>
        {{/if}}
        <!-- end design/tablet -->
        <!-- start design/mobile -->
        {{#if ct-design-mobile}}
        <div class="kss-ct-design_mobile">
          <div class="kss-modifier__heading kss-style kss-modifier__heading_design">
            <span>
              Design / Mobile
              <a href="CONFIG_IMAGE_DIRECTORY_STYLEGUIDE_RELATIVE/{{{ct-design-mobile}}}" title="Show full design in a new window/tab" target="_blank" data-crop-context="ct_crop_context__{{{toAnchor ct-design-mobile}}}_{{{toAnchor ct-design-mobile-crop}}}" class="kss-markup-link">{{{ct-design-mobile}}}</a>
            </span>
          </div>
          {{#if ct-design-mobile-notes}}
          <div class="kss-modifier__example ct-kss-notes">
            <strong>Note:</strong> {{{ct-design-mobile-notes}}}
          </div>
          {{/if}}
          <div class="kss-modifier__ct-kss-design">
            <div class="kss-modifier__ct-kss-design_crop" draggable="true">
              <img src="CONFIG_IMAGE_DIRECTORY_STYLEGUIDE_RELATIVE/{{{ct-design-mobile}}}.crop@{{{ct-design-mobile-crop}}}.{{{getFileExtension ct-design-mobile}}}" alt=""{{#if ct-design-center}} class="ct-kss-design_center"{{/if}} />
            </div>
          </div>
        </div>
        {{/if}}
        <!-- end design/mobile -->
        <!-- end design -->
        <!-- start build -->
        <div class="kss-modifier__heading kss-style kss-modifier__heading_build">
          <span>
          Build
            <a href="markup/section-{{toRootReference reference}}_kssref-{{toAnchor referenceURI}}.html" class="kss-markup-link" title="Show HTML in a new window/tab." target="_blank" data-markup-target="#kssref-{{toAnchor referenceURI}}_markup">Show HTML</a>
          </span>
        </div>
        <div class="ct-kss-markup-wrapper" id="kssref-{{toAnchor referenceURI}}_markup" data-markup-loaded="false" data-markup-hidden="true"></div>
        <div class="ct-kss-modifiers">
        {{#if ct-markup-notes}}
        <div class="kss-modifier__example ct-kss-notes">
          <strong>Note:</strong> {{{ct-markup-notes}}}
        </div>
        {{/if}}
        {{#if modifiers}}
          <!--
          <div class="kss-modifier__default-name kss-style">
            Default styling
          </div>
          -->
        {{/if}}
          <div class="kss-modifier__example">
            {{{markup}}}
          </div>
        </div>
        {{#eachModifier}}
        <div class="ct-kss-modifiers">
          <div class="ct-kss-modifier__labels">
            <div class="kss-modifier__name kss-style">
              {{name}}
            </div>
            <div class="kss-modifier__description kss-style">
              {{{description}}}
            </div>
          </div>
          <div class="kss-modifier__example">
            {{{markup}}}
          </div>
        </div>
        {{/eachModifier}}
        <!-- end build -->
        <!-- start js -->
        {{#if ct-js}}
        <div class="kss-modifier__heading kss-style" id="kssref-{{toAnchor referenceURI}}_js-enhanced" data-kss-js-enhanced="false">
          <span>
            JavaScript
            <div class="kss-markup-actions">
              <input type="button" onclick="{{{setJsTarget ct-js referenceURI}}}; KSS_UI.js_enhance('kssref-{{toAnchor referenceURI}}_js-enhanced')" value="Run the JavaScript below" class="kss-markup-action" aria-controls="kssref-{{toAnchor referenceURI}}_js kssref-{{toAnchor referenceURI}}_js-enhanced" />
            </div>
          </span>
        </div>
        {{#if ct-js-notes}}
        <div class="kss-modifier__example ct-kss-notes">
          <strong>Note:</strong> {{{ct-js-notes}}}
        </div>
        {{/if}}
        <div class="ct-kss-markup-wrapper">
          <div class="kss-markup kss-style">
            <pre class="prettyprint linenums lang-javascript" id="kssref-{{toAnchor referenceURI}}_js"><code data-language="javascript">{{ct-js}}</code></pre>
          </div>
        </div>
        {{/if}}
        <!-- end js -->
        <!-- start nojs -->
        {{#if ct-nojs}}
        <div class="kss-modifier__heading kss-style" id="kssref-{{toAnchor referenceURI}}_js-enhanced" data-kss-js-enhanced="false">
          <span>
            JavaScript
            <div class="kss-markup-actions">
              <input type="button" onclick="KSS_UI.emulate_noscript('kssref-{{toAnchor referenceURI}}_markup')" value="Emulate NoScript" class="kss-markup-action" aria-controls="kssref-{{toAnchor referenceURI}}_markup" />
            </div>
          </span>
        </div>
        {{/if}}
        <!-- end nojs -->
      </div>
      <script data-grunt-exporter>
      /*
      <!--(start-html-export CONFIG_STYLEGUIDE_DIRECTORY/markup/section-{{toRootReference reference}}_kssref-{{toAnchor referenceURI}}.html)-->
      <div class="kss-markup kss-style">
        <pre class="prettyprint linenums lang-html"><code data-language="html">{{markup}}</code></pre>
      </div>
      <!--(end-html-export)-->
      */
      </script>
    {{/if}}

    {{#ifDepth 1}}
      </div>
    {{else}}
      </section>
    {{/ifDepth}}
  {{/eachSection}}
{{/if}}
</article>

<!-- jQuery must be loaded here with the project scripts -->
{{{scripts}}}

<!-- SCRIPTS -->
<!-- note: kss.js pseudo class previewing requires styleguide to be viewed via a webserver -->
<script>
var KSS_UI_SHOW_WIREFRAMES = {{#if CONFIG_SHOW_WIREFRAMES}}CONFIG_SHOW_WIREFRAMES{{else}}false{{/if}};
var KSS_UI_SHOW_DESIGNS = {{#if CONFIG_SHOW_DESIGNS}}CONFIG_SHOW_DESIGNS{{else}}false{{/if}};
var KSS_UI_SHOW_DESIGN_AT_BREAKPOINT = {{#if CONFIG_SHOW_DESIGN_AT_BREAKPOINT}}CONFIG_SHOW_DESIGN_AT_BREAKPOINT{{else}}false{{/if}};
var KSS_UI_SHOW_GRID_SHADING = {{#if CONFIG_SHOW_GRID_SHADING}}CONFIG_SHOW_GRID_SHADING{{else}}false{{/if}};
var KSS_UI_SHOW_ALL_NAVIGATION_LEVELS = {{#if CONFIG_SHOW_ALL_NAVIGATION_LEVELS}}CONFIG_SHOW_ALL_NAVIGATION_LEVELS{{else}}false{{/if}};
var KSS_UI_KEEP_TARGET_IN_VIEWPORT = {{#if CONFIG_KEEP_TARGET_IN_VIEWPORT}}CONFIG_KEEP_TARGET_IN_VIEWPORT{{else}}false{{/if}};
</script>
<script src="public/kss.js"></script>
<script src="public/prettify.js"></script>

<!-- Tipue -->
<script src="public/bower_components/Tipue-drop/tipuedrop/tipuedrop.js"></script>

<!-- CT debouncer -->
<script src="public/bower_components/CT__debouncer/dist/ct__debouncer.js"></script>

<!-- jQuery UI drag and drop -->
<script src="public/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>

<!-- Raphael -->
<script src="public/bower_components/raphael/raphael-min.js"></script>

{{#if CONFIG_LIVERELOAD_PORT}}
<script id="script-livereload" src="http://localhost:CONFIG_LIVERELOAD_PORT/livereload.js"></script>
{{/if}}

{{! This will only be included in the demo page. }}
{{#if argv.xdemo}}
  <footer class="kss-github">
    <!-- https://github.com/blog/273-github-ribbons -->
    <a href="https://github.com/kss-node/kss-node"><img src="public/github-fork--black.png" alt="Fork me on GitHub"></a>
  </footer>
{{/if}}

<!-- Automatically generated using <a href="https://github.com/kss-node/kss-node">kss-node</a>. -->
</body>
</html>
