.kss-style {
    color: #444;
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px
}

.kss-description {
    padding-top: 12px;
}

.kss-style a {
    color: #f09; /* ct pink */
    text-decoration: none;
}

.kss-style a:visited {
    color: #f09; /* ct pink */
}

.kss-style a:hover,
.kss-style a:focus {
    color: #f09; /* ct pink */
    text-decoration: underline;
}

.kss-style a:active {
    color: #f09; /* ct pink */
    text-decoration: underline;
}

.kss-style a:hover,
.kss-style a:active {
    outline: 0
}

.kss-style p {
    margin: 0 0 12px;
}

.kss-style h1,
.kss-style h2,
.kss-style h3,
.kss-style h4,
.kss-style h5,
.kss-style h6 {
    margin: 24px 0 0 0;
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
    color: #111;
    line-height: 1.15em
}

.kss-style h1,
.kss-style h2,
.kss-style h3,
.kss-style h4,
.kss-style h5,
.kss-style h6 {
    font-weight: bold
}

.kss-style h1 {
    font-size: 40px
}

.kss-style h2 {
    font-size: 36px
}

.kss-style h3 {
    font-size: 34px
}

.kss-style h4 {
    font-size: 32px
}

.kss-style h5 {
    font-size: 30px
}

.kss-style h6 {
    font-size: 28px
}

.kss-style blockquote {
    color: #666;
    margin: 0;
    padding-left: 24px;
    border-left: .5em #d9d9d9 solid
}

.kss-style hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #e6e6e6;
    margin: 24px 0;
    padding: 0
}

.kss-description pre,
.kss-description code,
.kss-description kbd,
.kss-description samp {
  font-family: monospace;
  color: #333;
  background-color: #fff3ff;
  padding: 0.1em 0.2em;
  border-radius: 4px;
  font-size: 0.9em;
}

.kss-style pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

.kss-style ins {
    color: #111;
    background: #ff9;
    text-decoration: none
}

.kss-style mark {
    color: #111;
    background: #ff0;
    font-weight: bold
}

.kss-style sub,
.kss-style sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

.kss-style sup {
    top: -0.5em
}

.kss-style sub {
    bottom: -0.25em
}

.kss-style ul,
.kss-style ol {
    margin: 0 0 12px;
    padding: 0 0 0 24px
}

.kss-style p + ul,
.kss-style p + ol {
    margin-top: -12px;
}

.kss-style li p:last-child {
    margin: 0
}

.kss-style dd {
    margin: 0 0 0 24px
}

.kss-style img {
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle
}

.kss-style table {
    border-collapse: collapse;
    border-spacing: 0
}

.kss-style td {
    vertical-align: top
}

@media print {
    .kss-style a,
    .kss-style a:visited {
        text-decoration: underline
    }
    .kss-style hr {
        height: 1px;
        border: 0;
        border-bottom: 1px solid black
    }
    .kss-style a[href]:after {
        content: " (" attr(href) ")"
    }
    .kss-style a[href^="javascript:"]:after,
    .kss-style a[href^="#"]:after {
        content: ""
    }
    .kss-style abbr[title]:after {
        content: " (" attr(title) ")"
    }
    .kss-style pre,
    .kss-style blockquote {
        border: 1px solid #999;
        padding-right: 1em;
        page-break-inside: avoid
    }
    .kss-style tr,
    .kss-style img {
        page-break-inside: avoid
    }
    .kss-style img {
        max-width: 100% !important
    }
    .kss-style p,
    .kss-style h2,
    .kss-style h3 {
        orphans: 3;
        widows: 3
    }
    .kss-style h2,
    .kss-style h3 {
        page-break-after: avoid
    }
}

#kss-node {
    margin: 0;
    padding: 20px;
    background: #fff
}

@media screen and (min-width: 769px) {
    #kss-node {
        padding: 0;
        background: #eee;
        background: -webkit-linear-gradient(left, #eee, #e5e5e5 50%, #d7d7d7 100%) 20% 0 / 10px 1px repeat-y, -webkit-linear-gradient(left, #eee, #eee 20%, #fff 20%) 0 0 / 100% 1px;
        background: -webkit-gradient(linear, left top, right top, color-stop(0, #eee), color-stop(50%, #e5e5e5), color-stop(100%, #d7d7d7)) 20% 0 / 10px 1px repeat-y, -webkit-gradient(linear, left top, right top, color-stop(0, #eee), color-stop(20%, #eee), color-stop(20%, #fff)) 0 0 / 100% 1px;
        background: -webkit-linear-gradient(to right, #eee, #e5e5e5 50%, #d7d7d7 100%) 20% 0 / 10px 1px repeat-y, -webkit-linear-gradient(to right, #eee, #eee 20%, #fff 20%) 0 0 / 100% 1px;
        background: -o-linear-gradient(to right, #eee, #e5e5e5 50%, #d7d7d7 100%) 20% 0 / 10px 1px repeat-y, -o-linear-gradient(to right, #eee, #eee 20%, #fff 20%) 0 0 / 100% 1px;
        background: -ms-linear-gradient(to right, #eee, #e5e5e5 50%, #d7d7d7 100%) 20% 0 / 10px 1px repeat-y, -ms-linear-gradient(to right, #eee, #eee 20%, #fff 20%) 0 0 / 100% 1px;
        background: linear-gradient(to right, #eee, #e5e5e5 50%, #d7d7d7 100%) 20% 0 / 10px 1px repeat-y, linear-gradient(to right, #eee, #eee 20%, #fff 20%) 0 0 / 100% 1px
    }

    #kss-node .kss-sidebar {
        position: fixed; /* pin */
        top: 0; /* no space above */
        height: 100%;
        overflow-y: auto;
    }
}

@media screen and (min-width: 769px) {
    #kss-node .kss-main {
        margin-left: 20%;
        padding: 0 20px 0 30px
    }
}

#kss-node .kss-sidebar {
    border-bottom: 1px solid #ddd
}

@media screen and (min-width: 769px) {
    #kss-node .kss-sidebar,
    #kss-nav-tools {
        box-sizing: border-box;
        width: 20%;
        padding: 0 10px 0 20px;
        border-bottom: 0
    }

    #kss-node .kss-sidebar {
        float: left;
    }

    #kss-nav-tools {
        background-color: #eee;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 20px !important;
        border-top: 1px solid #fff;
        width: 19%;
    }
}

#kss-node .kss-doc-title {
    text-transform: none;
    margin: 0
}

@media screen and (min-width: 769px) {
    #kss-node .kss-doc-title {
        font-size: 1.5em
    }
}

@media screen and (min-width: 769px) {
    #kss-node .kss-header,
    #kss-node .kss-nav {
        margin-top: 1em
    }

    #kss-node .kss-nav {
        position: relative;
        padding-bottom: 150px; /* hacky-enough-room-for-checkbox-options */
    }

    #kss-node .kss-nav ul ul {
        padding: 0;
        margin: 0;
    }
}

#kss-node .kss-nav__menu {
    margin-top: 12px;
    margin-bottom: 60px;
    padding: 0;
    list-style-type: none
}

#kss-node .kss-nav__menu-item {
    display: inline-block;
    padding-right: 24px
}

.kss-nav__menu-item a,
.kss-nav__menu-item a:visited {
    color: #333;
}

.kss-nav__menu-item a:hover,
.kss-nav__menu-item a:focus {
    color: black;
    text-decoration: none;
}

@media screen and (min-width: 769px) {
    #kss-node .kss-nav__menu-item {
        display: list-item;
        padding-right: 0
    }
    #kss-node .kss-nav__menu-item a {
        display: block;
        border-bottom: 1px solid #ccc;
    }

    #kss-node .kss-nav__menu-item_l1 a,
    #kss-node .kss-nav__menu-item_l2 a {
        font-size: 12px;
    }

    #kss-node .kss-nav__menu-item_l3 a {
        font-size: 11px;
    }

    #kss-node .kss-nav__menu-item_l4 a {
        font-size: 10px;
    }

    #kss-node .kss-nav__menu-item_l3 {
        margin-left: 10px; /* no js */
    }

    #kss-node .kss-nav__menu-item_l4 {
        margin-left: 20px; /* no js */
    }

    #kss-node .kss-nav__menu .kss-nav__menu-child ul > .kss-nav__menu-item_l3,
    #kss-node .kss-nav__menu .kss-nav__menu-child ul > .kss-nav__menu-item_l4 {
        margin-left: 0; /* js */
    }
}

#kss-node .kss-nav__menu-child {
    display: none
}

.kss-hidden {
    display: none; /* TODO */
}

@media screen and (min-width: 769px) {
    #kss-node .kss-nav__menu-child {
        display: block;
        list-style-type: none;
        padding: 2px 0 0 0;
        border-bottom: 1px solid #ccc;
        margin: 0 0 5px 0;
    }
    #kss-node .kss-nav__menu-child .kss-nav__menu-item {
        border-bottom: 0;
        padding-left: 10px;
    }
    #kss-node .kss-nav__menu-child > .kss-nav__menu-item:last-child a {
        border-bottom: 0;
    }

    #kss-node [data-toggle-show="false"] > ul {
        display: none;
    }

    /* show all siblings following a visible item */
    #kss-node [data-toggle-show="true"] > ul {
        display: block;
    }
}

[data-toggle-show="false"] {
    display: none;
}

[data-toggle-show="true"] {
    display: block;
}

.kss-nav a:hover,
.kss-nav a:focus,
.kss-nav a:active,
.kss-nav .is-active {
    color: #f09; /* ct pink */
}

#kss-node section:target .kss-title__permalink {
    color: #f09; /* ct pink */
}

#kss-node section:target .kss-modifier__wrapper {
    box-shadow: 0px 0px 0px 1px #f09; /* ct pink */
}

#kss-node .kss-nav__ref {
    color: #333;
    float: right;
    font-size: 10px;
}

#kss-node .kss-nav__menu-item a:hover .kss-nav__ref,
#kss-node .kss-nav__menu-item a:focus .kss-nav__ref {
    font-weight: bold;
    color: #f09; /* ct pink */
}

#kss-node .kss-nav__ref:after {
    content: ' '
}

#kss-node .kss-nav__menu-child .kss-nav__ref {
    font-weight: normal
}

#kss-node .kss-section {
    /*max-width: 48em;*/
    max-width: 100%; /* use all of the available space */
    margin-bottom: 48px
}

#kss-node .kss-title {
    text-transform: none !important; /* override project styles */
    margin-bottom: 0
}

#kss-node .kss-title__ref {
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: #666;
    font-weight: normal;
}

#kss-node .kss-title__permalink {
    display: block;
    color: #000;
    text-decoration: none;
    padding-top: 10px;
}

#kss-node .kss-title--level-4 .kss-title__permalink {
    padding-bottom: 10px;
}

#kss-node .kss-title--level-3 .kss-title__permalink {
    color: #666;
}

#kss-node .kss-title--level-4 .kss-title__permalink {
    color: #999;
}

#kss-node .kss-title__permalink:hover,
#kss-node .kss-title__permalink:focus,
#kss-node .kss-title__permalink:active {
    color: #f09; /* ct pink */
}

@media screen and (min-width: 607px) {
    #kss-node .kss-title__permalink:hover .kss-title__permalink-hash,
    #kss-node .kss-title__permalink:focus .kss-title__permalink-hash,
    #kss-node .kss-title__permalink:active .kss-title__permalink-hash {
        display: inline
    }
}

#kss-node .kss-title__permalink-hash {
    display: none;
    font-size: 80%;
    line-height: 1;
    color: #ccc
}

#kss-node .kss-parameters {
    display: table;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0
}

#kss-node .kss-parameters__item {
    display: table-row
}

#kss-node .kss-parameters__name {
    display: table-cell;
    padding-right: 20px
}

#kss-node .kss-parameters__description {
    display: table-cell
}

#kss-node .kss-modifier__wrapper {
    padding: 0 10px;
    border: 1px solid #ccc;
    border-top: 0;
}

#kss-node .kss-modifier__heading {
    margin: 0 -10px;
    padding: 0;
    border: 1px solid #ccc;
    border-width: 1px 0;
    background-color: #eee;
    font-weight: bold
}

#kss-node [class^="kss-modifier__heading"] {
    margin-bottom: 10px;
}

#kss-node .kss-modifier__heading_wireframe {
    background-color: #fcfcfc; /* light grey */
}

#kss-node .kss-modifier__heading_design {
    background-color: #fcfcfc; /* light grey */
}

#kss-node .kss-modifier__heading_build {
    background-color: #fcfcfc; /* light grey */
    margin-bottom: 0; /* prevent extra gap above courier markup */
}

#kss-node .kss-modifier__wrapper > .kss-modifier__heading:last-child {
    border-bottom: 0;
    margin-bottom: -10px;
}

#kss-node .kss-modifier__heading > span,
#kss-node .kss-modifier__heading > a {
    display: block;
    padding: 5px 10px;
}

#kss-node .kss-modifier__default-name {
    font-weight: bold;
    margin-bottom: 12px
}

#kss-node .kss-modifier__name {
    float: left;
    padding-right: 10px;
    font-weight: bold
}

#kss-node .kss-modifier__description {
    margin-bottom: 12px
}

#kss-node .kss-modifier__example {
    clear: left;
    background: url(photoshop-transparency.png);
    padding: 1px 0;
    margin: 0 0 23px 0
}

#kss-node .kss-modifier__example:last-child {
    margin: 0
}

#kss-node .kss-markup {
    margin: -1px 0 24px 0;
    border: 1px solid #999
}

#kss-node .kss-markup pre {
    margin: 0
}

#kss-node .kss-color {
    line-height: 50px
}

#kss-node .kss-color__swatch {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #000;
    margin-right: 10px;
    vertical-align: middle
}

#kss-node .kss-color__variable {
    margin-right: 10px
}

#kss-node .kss-github {
    display: none
}

@media screen and (min-width: 501px) {
    #kss-node .kss-github {
        display: block;
        position: absolute;
        top: 0;
        right: 0
    }
}

#kss-node .kss-github img {
    border: 0
}

#kss-node .pln {
    color: #000
}

#kss-node .str {
    color: #080
}

#kss-node .kwd {
    color: #008
}

#kss-node .com {
    color: #800
}

#kss-node .typ {
    color: #606
}

#kss-node .lit {
    color: #066
}

#kss-node .pun,
#kss-node .opn,
#kss-node .clo {
    color: #660
}

#kss-node .tag {
    color: #008
}

#kss-node .atn {
    color: #606
}

#kss-node .atv {
    color: #080
}

#kss-node .dec,
#kss-node .var {
    color: #606
}

#kss-node .fun {
    color: red
}

@media print, projection {
    #kss-node .str {
        color: #060
    }
    #kss-node .kwd {
        color: #006;
        font-weight: bold
    }
    #kss-node .com {
        color: #600;
        font-style: italic
    }
    #kss-node .typ {
        color: #404;
        font-weight: bold
    }
    #kss-node .lit {
        color: #044
    }
    #kss-node .pun,
    #kss-node .opn,
    #kss-node .clo {
        color: #440
    }
    #kss-node .tag {
        color: #006;
        font-weight: bold
    }
    #kss-node .atn {
        color: #404
    }
    #kss-node .atv {
        color: #060
    }
}

#kss-node ol.linenums {
    margin: 0;
    padding: 0 0 3px 0;
    list-style-type: none
}

#kss-node ol.linenums li {
    border-bottom: 1px solid #eee;
    padding: 0 10px;
    background: #fff
}

#kss-node ol.linenums li:first-child {
    padding-top: 3px
}

#kss-node ol.linenums li.L0,
#kss-node ol.linenums li.L2,
#kss-node ol.linenums li.L4,
#kss-node ol.linenums li.L6,
#kss-node ol.linenums li.L8 {
    background: #fcfcfc
}

/* kss-node customisations are in kss.css */

    .kss-tags {
        font-size: 10px;
        float: right;
    }

    .kss-modifier__ct-kss-design_context a {
        display: block;
    }

    .kss-modifier__ct-kss-design img.ct-kss-design_center {
        margin: 0 auto;
    }

    .kss-modifier__ct-kss-design_context [data-crop-context] {
        max-width: 100%;
        padding-left: 20px;
        border-left: 1px solid #ccc;
        margin-left: 20px;
    }

    .kss-modifier__ct-kss-design_context [data-crop-context] svg {
        max-width: 100%;
    }

    .kss-modifier__ct-kss-design:after {
        content: "";
        display: table;
        width: 100%;
        clear: both;
    }

    .kss-modifier__heading {
        position: relative;
    }

    input.kss-markup-action {
        background: none;
        padding: 0;
        border: 0;
    }

    .kss-style a.kss-markup-link,
    .kss-style .kss-markup-actions {
        position: absolute;
        top: 3px;
        right: 10px;
    }

    .kss-style a.kss-markup-link,
    .kss-style input.kss-markup-action {
        font-weight: normal;
        color: black;
        font-size: 10px;
        line-height: 24px; /* for input */
    }

    .kss-markup-link:hover,
    .kss-markup-link:focus,
    .kss-markup-action:hover,
    .kss-markup-action:focus {
        text-decoration: underline;
    }

    [data-image-src]:after {
        content: attr(data-image-src);
        font-weight: normal;
        display: block;
        font-size: 12px;
        margin-top: -5px;
        color: #999;
    }

    .kss-section--depth-2 {
        border-top: 5px solid black;
    }

    .kss-title[data-tags]:after {
        content: attr(data-tags);
        font-size: 12px;
        color: #999;
        background: url(bower_components/Tipue-drop/tipuedrop/img/search.png) no-repeat 0 13px;
        background-size: 9px 9px;
        display: block;
        margin-top: -13px;
        font-weight: normal;
        min-height: 19px;
        padding-left: 13px;
    }

    .kss-title[data-deprecated] {
        position: relative;
    }

    .kss-title[data-deprecated]:after {
        position: absolute;
        right: 0;
        top: 0;

        content: "Deprecated";
        font-size: 12px;
        color: #c00;
        display: block;
        font-weight: normal;
    }

    #kss-node .kss-modifier__example.ct-kss-notes {
        background: linear-gradient(to top, #fff 0%, #fff 90%, #eee 98%, #ccc 100%);
        font-size: 13px;
        line-height: 1.25;
        border-bottom: 1px dotted #ccc;
        padding: 10px;
        margin: -10px -10px 10px;
    }

    #kss-node .kss-modifier__example.ct-kss-notes a {
        color: black;
        text-decoration: underline;
    }

    #kss-node .ct-kss-markup-wrapper + .ct-kss-modifiers {
        margin-top: 10px; /* prevent visual markup from touching top of box, whether the preceding element is visible or not */
    }

    #kss-node .ct-kss-markup-wrapper > .kss-markup {
        font-size: 11px;
        line-height: 22px;
        border: 0;
        margin: 0 -10px 7px;
    }

    .ct-kss-loading {
        font-size: 12px;
        color: #999;
        padding-bottom: 6px;
    }

    .ct-kss-modifier__labels {
        border: 1px dotted #ccc;
        padding: 10px;
        margin: 10px -10px;
        border-width: 1px 0 0;
    }

    .ct-kss-modifier__labels > .kss-style {
        font-size: 12px;
    }

    #kss-node .ct-kss-modifier__labels .kss-modifier__description {
        margin-bottom: 0;
    }

    [data-crop-context] {
        position: relative;
    }

    #kss-nav-tools {
        padding: 0;
        border: 0;
        margin: 0;
    }

    #kss-nav-tools label {
        display: block;
        cursor: pointer;
        font-size: 11px;
    }

    #kss-nav-tools label > input {
        margin-right: 5px;
    }

/* tipue customisations */

    #tipue_drop_wrapper {
        display: block;
        margin-bottom: 0;
    }
    #tipue_drop_wrapper a {
        display: block;
    }
    #tipue_drop_content {
        margin-top: -1px;
    }
    .tipue_drop_head {
        display: none;
    }
    .tipue_drop_item {
        display: block;
        width: 162px;
        text-align: left;
        padding: 8px 20px 4px 40px;
    }
    .tipue_drop_left {
        display: none;
    }
    .tipue_drop_right {
        display: block;
        padding: 0;
    }
    .tipue_drop_right_text {
        font-size: 10px;
        padding-top: 0;
    }
    #kss-node #tipue_drop_input {
        width: 100%;
        box-sizing: border-box;
        margin-top: 7px;
    }

    #tipue_drop_input:focus {
        border-color: #f09; /* ct pink */
    }

/* custom sub layouts */

    .ct-kss-compact .ct-kss-modifiers {
        display: table;
        width: 100%;
    }

    .ct-kss-compact .ct-kss-modifiers:nth-child(2n-1) {
        background-color: #fafafa;
    }

    .ct-kss-compact .ct-kss-modifiers > div {
        display: table-cell;
        float: none !important;
        width: 33%;
    }

    .ct-kss-compact .ct-kss-modifiers > div.kss-modifier__default-name {
        width: 66%; /* spans 2 col */
    }

    .ct-kss-expanded .ct-kss-modifiers {
        padding-top: 20px;
    }

/* dragging */

    [draggable="true"] {
        cursor: move;
        border: 1px dotted transparent;
        z-index: 101;
    }

    [draggable="true"]:hover {
        border-color: #ccc;
    }

    .ui-draggable-dragging {
        opacity: 0.5;
    }

    .kss-modifier__ct-kss-design {
        overflow-x: auto;
        padding-bottom: 30px;
    }

    .kss-modifier__ct-kss-design[data-dragged-content="true"] {
        overflow-x: visible; /* allow content to be dragged out of container */
    }

/* crop context */

    #crop_context {
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        /* match sidebar:; */
        width: 20%;
        /* whole container acts as a hot spot */
        cursor: pointer;
    }

    #crop_context_closer {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #ebebeb; /* edge of gradient nav fill */
        color: #333;
        line-height: 1;
        padding: 6px 3px;
        z-index: 100;
    }

    #crop_context_liner {
        text-align: center;
    }

    /* whole container acts as a hot spot */
    #crop_context:hover #crop_context_closer {
        text-decoration: underline;
    }

    #crop_context > svg {
        margin: 20px;
    }

/* JS previews */

    #kss-node .kss-modifier__heading[data-kss-js-enhanced="false"] {
        background: #fff1f1; /* red */
    }

    #kss-node .kss-modifier__heading[data-kss-js-enhanced="true"] {
        background: #f0fcf0; /* green */
    }

    #kss-node .kss-modifier__heading[data-kss-js-enhanced="true"] .kss-markup-actions {
        display: none;
    }

    .kss-deprecated {
        color: #eee;
        background-color: #300;
        padding: 1px 3px;
        border-radius: 3px;
        font-weight: normal;
        font-size: 9px;
        /* font-family: verdana; */
        display: inline-block;
        line-height: 1.2;
        top: -1px;
        position: relative;
    }

    .kss-nav .kss-deprecated {
        top: 0;
    }
